.demo-ribbon {
  width: 100%;
  background-color: #3e51b5;
}
body{
  background-color: #e9eaed;
}
.demo-header{
  height: 20vh;
  width: 60vw;
  margin: 0 auto;
  padding-top: 2vh;
  background-color: #3e51b5;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
}
.demo-header h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.demo-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 8px;

}


.demo-content h3 {
  margin-top: 48px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.left-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-link{
  display: flex;
  justify-content:  flex-end;
  margin-bottom: 8vh;
}
.header-link div{
  margin-left: 10px;
}
.content-picture{
  width: 10%;
}

.content-body{
  width: 90%;
}
.content-picture img{
  border-radius: 8px;
}
.content-body img {
  margin:10px 0 10px;
}
.content{
  background-color: white;
  width: 60vw;
  margin: 0 auto;
  margin-top: -7vh;
  border-radius: 8px;
}
.btn a{
  color: antiquewhite;
  text-decoration: none;
}

